@media (max-width:1280px) {
    .container {
        max-width: 100%;
        padding-left: 24px;
        padding-right: 24px;
    }
}


@media (max-width:990px) {

    .section-space {
        padding-top: 60px;
        padding-bottom: 60px;

        .container.space {
            gap: 28px;
        }

    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #heroSection {
        .swiper-slide {
            .container {
                .hero-content {
                    max-width: 100%;
                }
            }
        }
    }

    .about_grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 24px;

        .about-content {
            max-width: 100%;
        }
    }

    .choose_grid {
        .feature-card {
            padding: 40px;
        }
    }

    .service-list {
        gap: 28px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    #contactSection {
        .container {
            grid-template-columns: repeat(1, minmax(0, 1fr));

            .contact_map-section {
                iframe {
                    height: 250px;
                }
            }

        }
    }


    .footer {
        .footer-content {
            .container {
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 34px;
            }
        }
    }

}


@media (max-width:768px) {
    .choose_grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));

        .feature-card {
            padding: 40px;
        }
    }

    .service-list {
        gap: 24px;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .review-container {
        min-width: 420px;
        max-width: 420px;
    }

    .footer {
        .footer-content {
            .container {

                .footer-col:nth-child(1) {
                    grid-column: span 2 / span 2;
                }

                .footer-col:nth-last-child(1) {
                    grid-column: span 2 / span 2;
                }

            }
        }
    }

    .about_grid {
        .about_img-section {
            .img1 {
                width: 100%;
            }

            .box1 {
                right: 0;
                bottom: 0;
            }
        }
    }

    .header {
        .top-tagline {
            .container {
                padding: 0;
            }
        }
    }

}

@media (max-width:690px) {
    .header {

        .open-icon {
            display: block;
        }

        .close-icon {
            display: none;
        }


        .top-tagline {
            display: none;
        }

        .header-content {
            .container {
                .company-contact-detail {
                    display: none;
                }
            }
        }

        .navbar.container {
            display: none;
        }

        .mobile-menu_show {
            width: 38px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $theme_Color;
            border: 1px solid transparent;
            outline: none;
            margin-right: 24px;
        }

        .navbar.container {
            display: none;

        }
    }

    .header.mobile-navbar_show {

        .open-icon {
            display: none;
        }

        .close-icon {
            display: block;
        }

        .navbar.container {
            display: block;

            .nav-list {
                flex-direction: column;
                text-align: left;
                width: 100%;
                align-items: flex-start;

                li {
                    width: 100%;
                    border-bottom: 1px solid white;
                }
            }
        }
    }

}


@media (max-width:490px) {

    .section-space {
        padding-top: 40px;
        padding-bottom: 40px;

        .container.space {
            gap: 24px;
        }

    }

    .container {
        padding-left: 14px;
        padding-right: 14px;
    }

    #heroSection {
        .swiper-slide {
            height: 360px;

            .container {
                .hero-content {

                    .content-sub_title {
                        font-size: 14px;
                        margin-bottom: 12px;
                    }

                    .content-title {
                        font-size: 28px;
                        margin-bottom: 12px;
                    }

                    .content-description {
                        font-size: 14px;
                        line-height: 1.4;
                    }
                }
            }
        }
    }


    .about_grid {
        .about_img-section {
            .img1 {
                width: 100%;
                height: 420px;
            }

            .box1 {
                right: 0;
                bottom: 0;
                padding: 20px;

                .sub-title {
                    font-size: 14px;
                    margin-bottom: 6px;
                }

                .title {
                    font-size: 32px;
                }
            }
        }

        .about-content {
            gap: 16px;

            .content-sub_title {
                font-size: 14px;
                margin-bottom: 14px;
            }

            .content-title {
                font-size: 28px;
                margin-bottom: 14px;
            }

            .content-description {
                font-size: 14px;
                line-height: 1.6;
            }

            .journey-wrap {
                flex-direction: column;

                .journey-image {
                    width: 100%;
                }

            }

        }
    }

    .choose_grid {
        .feature-card {
            padding: 40px;

            .shape-icon {
                width: 96px;
                height: 96px;
                margin: 0 auto 20px auto;
            }

            .feature-card_title {
                font-size: 20px;
                margin-bottom: 12px;
            }

            .feature-card_text {
                font-size: 14px;
                line-height: 1.4;
            }

        }
    }

    .service-list {
        .service-box {
            .service-details {
                max-width: 90%;

                .service-title {
                    font-size: 20px;
                    margin-top: 14px;
                }

                .service-description {
                    margin-top: 14px;
                    font-size: 14px;
                }

            }
        }
    }


    #reviewSection {
        .container {
            padding: 0 !important;
        }

        .swiper-slide {
            margin-top: 42px;
        }

        .review-container {
            min-width: 340px;
            padding: 18px;
            max-width: 340px;

            .customer-img {
                width: 72px;
                height: 72px;
            }

            .customer-review-content {
                .review {
                    font-size: 14px;
                    line-height: 1.4;
                }
            }

        }


        .swiper-pagination {
            display: none;
        }

    }

    #contactSection {
        .container {
            .contact_map-section {
                iframe {
                    height: 350px;
                }
            }

            .contact_content {
                padding: 18px;

                .title {
                    font-size: 28px;
                }

                .sub-title {
                    font-size: 14px;
                    line-height: 1.4;
                }

                .contact_form {
                    grid-template-columns: repeat(1, minmax(0, 1fr));


                    input,
                    textarea {
                        height: 45px;
                        padding: 0 20px;
                        background-color: $white;
                        font-size: 16px;
                    }

                    textarea {
                        padding-top: 16px;
                        grid-column: span 1 / span 1;
                    }

                    button {
                        grid-column: span 1 / span 1;
                    }

                }

            }

        }
    }


    .footer {
        .footer-content {
            padding: 20px 0;

            .container {
                grid-template-columns: repeat(1, minmax(0, 1fr));

                .footer-col:nth-child(1) {
                    grid-column: span 1 / span 1;
                }

                .footer-col:nth-last-child(1) {
                    grid-column: span 1 / span 1;
                }

            }
        }

    }

}