@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Radio Canada", sans-serif;
  font-weight: 400;
}

html,
body {
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  outline: none;
}
a:hover, a:focus {
  color: #FFC005 !important;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

ul,
li,
ol {
  list-style: none;
}

input[type=number],
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.header {
  width: 100%;
  z-index: 99;
  position: relative;
  background-color: #f2f2f2;
}
.header .top-tagline {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}
.header .top-tagline .container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.header .top-tagline .container .tagline-content:nth-last-child(1) {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
  padding: 6px;
}
.header .top-tagline .container .tagline-content:nth-last-child(1) .title {
  font-size: 12px;
  text-transform: uppercase;
}
.header .top-tagline .container .tagline-content:nth-last-child(1) .social-media-link {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 6px;
}
.header .top-tagline .container .tagline-content:nth-last-child(1) .social-media-link a {
  padding: 4px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #333333;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}
.header .top-tagline .container .tagline-content:nth-last-child(1) .social-media-link a:hover, .header .top-tagline .container .tagline-content:nth-last-child(1) .social-media-link a:focus {
  color: #FFC005;
}
.header .top-tagline .container .tagline-content:nth-child(1) {
  background-color: #333333;
  -webkit-clip-path: polygon(0% 0%, 86% 0%, 100% 49%, 86% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 86% 0%, 100% 49%, 86% 100%, 0% 100%);
}
.header .top-tagline .container .tagline-content:nth-child(1) .company-policy-pages {
  width: 100%;
  height: 100%;
  padding: 6px 120px 6px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .top-tagline .container .tagline-content:nth-child(1) .company-policy-pages li ::after {
  content: "|";
  color: #FFFFFF;
  margin-left: 8px;
}
.header .top-tagline .container .tagline-content:nth-child(1) .company-policy-pages li:nth-last-child(1) ::after {
  display: none;
}
.header .top-tagline .container .tagline-content:nth-child(1) .company-policy-pages li a {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #e0e0e0;
  font-size: 14px;
  outline: none;
  line-height: normal;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}
.header .top-tagline .container .tagline-content:nth-child(1) .company-policy-pages li a:hover, .header .top-tagline .container .tagline-content:nth-child(1) .company-policy-pages li a:focus {
  color: #FFC005;
}
.header .header-content {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}
.header .header-content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
}
.header .header-content .container .logo img {
  max-width: 80px;
  height: auto;
}
.header .header-content .container .company-contact-detail {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 32px;
}
.header .header-content .container .company-contact-detail li {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header .header-content .container .company-contact-detail li .icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  background-color: #e0e0e0;
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
}
.header .header-content .container .company-contact-detail li .icon i {
  color: #181818;
  font-size: 18px;
}
.header .header-content .container .company-contact-detail li .label {
  font-size: 12px;
  color: #333333;
  text-transform: capitalize;
  margin-bottom: 4px;
}
.header .header-content .container .company-contact-detail li .link {
  font-size: 16px;
  color: #181818;
  font-weight: 500;
}
.header .navbar {
  padding: 0 !important;
  background-color: #FFC005;
  margin-bottom: -18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header .navbar .nav-list {
  display: flex;
  align-items: center;
}
.header .navbar .nav-list .nav-link {
  padding: 12px 24px !important;
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: block;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.04em;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
}
.header .navbar .nav-list .nav-link:hover, .header .navbar .nav-list .nav-link:focus {
  background-color: #333333;
  color: #FFFFFF !important;
}

.th-btn {
  position: relative;
  z-index: 2;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  background-color: #FFC005;
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  padding: 21px 31px;
  border-radius: 0;
  border: none;
  cursor: pointer;
}
.th-btn::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 200%;
  background-color: #333333;
  transform-style: preserve-3d;
  transform: scale(0, 1);
  z-index: -1;
  transition: 0.5s ease;
  -webkit-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -o-transform: scale(0, 1);
}
.th-btn:hover, .th-btn:focus {
  color: #FFFFFF;
}
.th-btn:hover::before, .th-btn:focus::before {
  transform-origin: center center;
  transform: scale(1);
}

.footer {
  border-top: 1px solid #e0e0e0;
  position: relative;
}
.footer .footer-content {
  background-color: #f2f2f2;
  padding: 40px 0;
  position: relative;
}
.footer .footer-content .container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  gap: 24px;
}
.footer .footer-content .container .footer-col .footer-about-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer .footer-content .container .footer-col .footer-about-section .logo {
  margin-bottom: 8px;
  display: block;
}
.footer .footer-content .container .footer-col .footer-about-section .logo img {
  max-width: 120px;
  height: auto;
}
.footer .footer-content .container .footer-col .footer-about-section .title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 6px;
}
.footer .footer-content .container .footer-col .footer-about-section .description {
  font-size: 16px;
  color: #181818;
}
.footer .footer-content .container .footer-col .footer-about-section .social-media-link {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer .footer-content .container .footer-col .footer-about-section .social-media-link li a {
  min-width: 36px;
  max-width: 36px;
  min-height: 36px;
  max-height: 36px;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}
.footer .footer-content .container .footer-col .footer-about-section .social-media-link li a:hover, .footer .footer-content .container .footer-col .footer-about-section .social-media-link li a:focus {
  background-color: #FFC005;
}
.footer .footer-content .container .footer-col .footer-about-section .social-media-link li a:hover i, .footer .footer-content .container .footer-col .footer-about-section .social-media-link li a:focus i {
  color: #000000;
}
.footer .footer-content .container .footer-col .footer-about-section .social-media-link li a i {
  color: #FFFFFF;
  font-size: 16px;
}
.footer .footer-content .container .footer-col .footer-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.02em;
  position: relative;
  margin-bottom: 26px;
}
.footer .footer-content .container .footer-col .footer-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 127%;
  background-color: #FFC005;
  height: 4px;
  width: 10%;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}
.footer .footer-content .container .footer-col .footer-title::after {
  content: "";
  position: absolute;
  left: 11%;
  top: 127%;
  background-color: #FFC005;
  height: 4px;
  width: 18%;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}
.footer .footer-content .container .footer-col .footer-link_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  width: 100%;
}
.footer .footer-content .container .footer-col .footer-link_list li {
  width: 100%;
}
.footer .footer-content .container .footer-col .footer-link_list li a {
  font-size: 16px;
  display: block;
  width: 100%;
  color: #181818;
  text-transform: capitalize;
  position: relative;
}
.footer .footer-content .container .footer-col .footer-link_list li a::before {
  content: "⇾";
  margin-right: 8px;
}
.footer .footer-content .container .footer-col .footer-contact_list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  width: 100%;
}
.footer .footer-content .container .footer-col .footer-contact_list li .title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 10px;
}
.footer .footer-content .container .footer-col .footer-contact_list li .contact-details {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer .footer-content .container .footer-col .footer-contact_list li .contact-details .icon {
  min-width: 32px;
  max-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32px;
  max-height: 32px;
  background-color: #FFC005;
}
.footer .footer-content .container .footer-col .footer-contact_list li .contact-details .icon i {
  font-size: 16px;
}
.footer .footer-content .container .footer-col .footer-contact_list li .contact-details .link {
  font-size: 16px;
  color: #181818;
}
.footer .footer-content .container .footer-col .news-letter-detail {
  font-size: 16px;
  color: #181818;
  line-height: 1.3;
  margin-bottom: 20px;
}
.footer .footer-content .container .footer-col .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}
.footer .footer-content .container .footer-col .form-group input {
  border: 1px solid #e0e0e0;
  width: 100%;
  background-color: #FFFFFF;
  padding: 12px;
  font-size: 18px;
}
.footer .copywrite {
  width: 100%;
  padding: 14px;
  text-align: center;
  background-color: #181818;
}
.footer .copywrite p {
  color: #FFFFFF;
  font-size: 14px;
  text-transform: capitalize;
}
.footer .copywrite p a {
  color: #FFC005 !important;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px;
  width: 100%;
}
.service-list .service-box {
  width: 100%;
  overflow: hidden;
}
.service-list .service-box .service-img {
  width: 100%;
  padding-top: 68%;
  position: relative;
  overflow: hidden;
}
.service-list .service-box .service-img img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}
.service-list .service-box .service-details {
  border: 1px solid #e0e0e0;
  width: 100%;
  transition: 0.3s ease;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: #FFFFFF;
  padding: 14px;
  margin-top: -24px;
  position: relative;
  z-index: 2;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.service-list .service-box .service-details .icon {
  width: 86px;
  height: 86px;
  background-color: #FFC005;
  margin: auto;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -52px;
}
.service-list .service-box .service-details .service-title {
  color: #333333;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin-top: 14px;
  letter-spacing: 0.02em;
}
.service-list .service-box .service-details .service-description {
  margin-top: 14px;
  font-size: 14px;
  color: #333333;
  text-transform: capitalize;
  text-align: center;
  font-weight: 400;
}
.service-list .service-box:hover .service-details {
  background-color: #333333;
  border-color: transparent;
}
.service-list .service-box:hover .service-title {
  color: #FFFFFF;
}
.service-list .service-box:hover .service-img img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.service-list .service-box:hover .service-description {
  color: #FFFFFF;
  display: block;
  animation: show_description 1s ease forwards;
  -webkit-animation: show_description 1s ease forwards;
}

@keyframes show_description {
  100% {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
}
#reviewSection .swiper {
  width: 100%;
  height: 100%;
}
#reviewSection .container {
  position: relative;
}
#reviewSection .swiper-slide {
  width: auto;
  border: 1px solid #e0e0e0;
  padding: 2px;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 32px;
  transform: scale(0.8) translateZ(0) !important;
  -webkit-transform: scale(0.8) translateZ(0) !important;
  -moz-transform: scale(0.8) translateZ(0) !important;
  -ms-transform: scale(0.8) translateZ(0) !important;
  -o-transform: scale(0.8) translateZ(0) !important;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  opacity: 0.8;
}
#reviewSection .swiper-slide.swiper-slide-active {
  opacity: 1;
  transform: scale(1) translateZ(0) !important;
  -webkit-transform: scale(1) translateZ(0) !important;
  -moz-transform: scale(1) translateZ(0) !important;
  -ms-transform: scale(1) translateZ(0) !important;
  -o-transform: scale(1) translateZ(0) !important;
}
#reviewSection .swiper-pagination {
  bottom: -3rem !important;
}
#reviewSection .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #FFC005;
}
#reviewSection .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}

.review-container {
  min-width: 529px;
  max-width: 529px;
  background-color: #FFFFFF;
  position: relative;
  padding: 22px;
}
.review-container .customer-img {
  width: 80px;
  height: 80px;
  margin-top: -60px;
  border: 1px solid #e0e0e0;
  padding: 2px;
  background-color: #FFFFFF;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  position: relative;
  overflow: hidden;
}
.review-container .customer-img img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 2px;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}
.review-container .customer-review-content {
  margin-top: 16px;
}
.review-container .customer-review-content .review {
  font-size: 16px;
  line-height: 1.6;
  color: #181818;
}
.review-container .customer-review-content .customer-details {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
  margin-top: 14px;
}
.review-container .customer-review-content .customer-details .customer-name {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #333333;
  font-weight: 600;
}
.review-container .customer-review-content .customer-details .customer-job {
  font-size: 12px;
  margin-top: 6px;
  color: #000000;
}
.review-container .customer-review-content .customer-details .customer-review-star {
  display: flex;
  align-items: center;
  gap: 4px;
}
.review-container .customer-review-content .customer-details .customer-review-star .bi-star-fill {
  color: #FFC005;
}

.about_grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.about_grid .about-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  max-width: 590px;
  margin-left: auto;
}
.about_grid .about-content .content-sub_title {
  display: inline-block;
  color: #FFC005;
  font-size: 16px;
  position: relative;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.about_grid .about-content .content-title {
  font-size: 42px;
  text-transform: capitalize;
  font-weight: 700;
  color: #333333;
  margin-bottom: 20px;
}
.about_grid .about-content .content-description {
  font-size: 16px;
  line-height: 1.6;
  color: #181818;
}
.about_grid .about-content .journey-wrap {
  width: 100%;
  background-color: #F7F7F7;
  padding: 16px;
  gap: 20px;
  display: flex;
  justify-content: flex-start;
  border-bottom: none;
  margin-bottom: 38px;
}
.about_grid .about-content .journey-wrap .journey-image {
  width: 152px;
}
.about_grid .about-content .journey-wrap .journey-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about_grid .about-content .journey-wrap .checklist {
  padding-left: 0;
  list-style: none;
}
.about_grid .about-content .journey-wrap .checklist li {
  margin-bottom: 6px;
  font-weight: 400;
  position: relative;
  padding-left: 28px;
}
.about_grid .about-content .journey-wrap .checklist li::before {
  content: "✔";
  font-weight: 500;
  color: #FFC005;
  position: absolute;
  left: 0;
  transition: 0.3s ease-in-out;
}
.about_grid .about_img-section {
  position: relative;
  display: flex;
  align-items: stretch;
}
.about_grid .about_img-section .img1 {
  position: relative;
  width: 60%;
  height: 460px;
  border: 4px solid #FFC005;
  z-index: 40;
}
.about_grid .about_img-section .img1 img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 40;
}
.about_grid .about_img-section .box1 {
  padding: 32px;
  box-shadow: 0px 6px 30px rgba(25, 24, 37, 0.05);
  position: absolute;
  right: 20%;
  bottom: 6%;
  z-index: 99;
  background-color: #FFFFFF;
  border: 4px solid #FFC005;
}
.about_grid .about_img-section .box1 .sub-title {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 6px;
}
.about_grid .about_img-section .box1 .title {
  font-weight: 700;
  text-align: center;
  font-size: 60px;
  color: #FFC005;
  letter-spacing: 2px;
}

#chooseSection {
  background-color: #f2f2f2;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.choose_grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
}
.choose_grid .feature-card {
  background-color: #FFFFFF;
  padding: 60px;
  position: relative;
  text-align: center;
  z-index: 2;
}
.choose_grid .feature-card::before {
  content: "";
  height: 100%;
  width: 0;
  background-color: var(--title-color);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
}
.choose_grid .feature-card:nth-child(2) {
  background-color: #333333;
}
.choose_grid .feature-card:nth-child(2) .feature-card_title {
  color: #FFFFFF;
}
.choose_grid .feature-card:nth-child(2) .feature-card_text {
  color: #FFFFFF;
}
.choose_grid .feature-card .shape-icon {
  width: 136px;
  height: 136px;
  margin: 0 auto 40px auto;
  transition: 0.4s ease-in-out;
  text-align: center;
  position: relative;
  z-index: 2;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
.choose_grid .feature-card .shape-icon .mask-image {
  background-color: #FFC005;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}
.choose_grid .feature-card .shape-icon i {
  font-size: 42px;
}
.choose_grid .feature-card .feature-card_title {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
  transition: 0.4s ease-in-out;
  color: #333333;
}
.choose_grid .feature-card .feature-card_text {
  font-size: 16px;
  line-height: 1.6;
  font-weight: normal;
}

#heroSection {
  width: 100%;
  position: relative;
}
#heroSection .swiper-slide {
  position: relative;
  width: 100%;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#heroSection .swiper-slide .slider_img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#heroSection .swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.4;
  z-index: 8;
}
#heroSection .swiper-slide .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  z-index: 9;
}
#heroSection .swiper-slide .container .hero-content {
  max-width: 50%;
  padding-bottom: 24px;
}
#heroSection .swiper-slide .container .hero-content .content-sub_title {
  display: inline-block;
  color: #FFC005;
  font-size: 16px;
  position: relative;
  margin-bottom: 20px;
  text-transform: uppercase;
}
#heroSection .swiper-slide .container .hero-content .content-title {
  font-size: 42px;
  text-transform: capitalize;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 20px;
}
#heroSection .swiper-slide .container .hero-content .content-description {
  font-size: 16px;
  line-height: 1.6;
  color: #f2f2f2;
}

.booking-form {
  margin-top: -62px;
  position: relative;
  z-index: 9;
}
.booking-form .input-wrap {
  width: 100%;
  background-color: #FFFFFF;
  padding: 40px 40px 20px 40px;
  box-shadow: 0px 12px 25px rgba(1, 19, 60, 0.06);
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
}
.booking-form .input-wrap input {
  height: 55px;
  padding: 0 25px;
  padding-right: 45px;
  border: 1px solid #e0e0e0;
  color: #333333;
  background-color: #FFFFFF;
  border-radius: 9999px;
  border-radius: 0;
  font-size: 16px;
  width: 100%;
  font-family: "Radio Canada", sans-serif;
  outline: none;
}
.booking-form .input-wrap input:focus {
  border: 1px solid #FFC005;
}

#contactSection {
  width: 100%;
}
#contactSection .container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0 !important;
  align-items: stretch;
}
#contactSection .container .contact_content {
  width: 100%;
  background-color: #f2f2f2;
  height: auto;
  padding: 40px;
}
#contactSection .container .contact_content .title {
  font-size: 42px;
  text-transform: capitalize;
  margin-bottom: 12px;
  color: #181818;
  font-weight: 600;
}
#contactSection .container .contact_content .title span {
  color: #FFC005;
}
#contactSection .container .contact_content .sub-title {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.6;
}
#contactSection .container .contact_content .contact_form {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 24px;
}
#contactSection .container .contact_content .contact_form input,
#contactSection .container .contact_content .contact_form textarea {
  height: 55px;
  padding: 0 25px;
  padding-right: 45px;
  border: 1px solid #e0e0e0;
  color: #333333;
  background-color: #FFFFFF;
  border-radius: 9999px;
  border-radius: 0;
  font-size: 16px;
  width: 100%;
  font-family: "Radio Canada", sans-serif;
  outline: none;
}
#contactSection .container .contact_content .contact_form input:focus,
#contactSection .container .contact_content .contact_form textarea:focus {
  border: 1px solid #FFC005;
}
#contactSection .container .contact_content .contact_form textarea {
  grid-column: span 2/span 2;
  min-height: 150px;
  max-height: 150px;
  padding-top: 18px;
  resize: none;
}
#contactSection .container .contact_content .contact_form button {
  grid-column: span 2/span 2;
}

.section-space {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-space .container.space {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.w-100 {
  width: 100%;
}

.section-title {
  font-size: 28px;
  text-align: center;
  font-weight: 600;
  color: #181818;
  margin: 12px 0;
}

.section-effect_title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #FFC005;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 14px;
  align-items: center;
  width: 100%;
}

.section-effect_title:after,
.section-effect_title:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #FFC005;
  border-top: 1px solid #FFC005;
  height: 5px;
}

#reviewSection {
  background-color: #f2f2f2;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

@media (max-width: 1280px) {
  .container {
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 990px) {
  .section-space {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-space .container.space {
    gap: 28px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  #heroSection .swiper-slide .container .hero-content {
    max-width: 100%;
  }
  .about_grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 24px;
  }
  .about_grid .about-content {
    max-width: 100%;
  }
  .choose_grid .feature-card {
    padding: 40px;
  }
  .service-list {
    gap: 28px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  #contactSection .container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  #contactSection .container .contact_map-section iframe {
    height: 250px;
  }
  .footer .footer-content .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 34px;
  }
}
@media (max-width: 768px) {
  .choose_grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .choose_grid .feature-card {
    padding: 40px;
  }
  .service-list {
    gap: 24px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .review-container {
    min-width: 420px;
    max-width: 420px;
  }
  .footer .footer-content .container .footer-col:nth-child(1) {
    grid-column: span 2/span 2;
  }
  .footer .footer-content .container .footer-col:nth-last-child(1) {
    grid-column: span 2/span 2;
  }
  .about_grid .about_img-section .img1 {
    width: 100%;
  }
  .about_grid .about_img-section .box1 {
    right: 0;
    bottom: 0;
  }
}
@media (max-width: 490px) {
  .header {
    display: none;
  }
  .section-space {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section-space .container.space {
    gap: 24px;
  }
  .container {
    padding-left: 14px;
    padding-right: 14px;
  }
  #heroSection .swiper-slide {
    height: 360px;
  }
  #heroSection .swiper-slide .container .hero-content .content-sub_title {
    font-size: 14px;
    margin-bottom: 12px;
  }
  #heroSection .swiper-slide .container .hero-content .content-title {
    font-size: 28px;
    margin-bottom: 12px;
  }
  #heroSection .swiper-slide .container .hero-content .content-description {
    font-size: 14px;
    line-height: 1.4;
  }
  .about_grid .about_img-section .img1 {
    width: 100%;
    height: 420px;
  }
  .about_grid .about_img-section .box1 {
    right: 0;
    bottom: 0;
    padding: 20px;
  }
  .about_grid .about_img-section .box1 .sub-title {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .about_grid .about_img-section .box1 .title {
    font-size: 32px;
  }
  .about_grid .about-content {
    gap: 16px;
  }
  .about_grid .about-content .content-sub_title {
    font-size: 14px;
    margin-bottom: 14px;
  }
  .about_grid .about-content .content-title {
    font-size: 28px;
    margin-bottom: 14px;
  }
  .about_grid .about-content .content-description {
    font-size: 14px;
    line-height: 1.6;
  }
  .about_grid .about-content .journey-wrap {
    flex-direction: column;
  }
  .about_grid .about-content .journey-wrap .journey-image {
    width: 100%;
  }
  .choose_grid .feature-card {
    padding: 40px;
  }
  .choose_grid .feature-card .shape-icon {
    width: 96px;
    height: 96px;
    margin: 0 auto 20px auto;
  }
  .choose_grid .feature-card .feature-card_title {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .choose_grid .feature-card .feature-card_text {
    font-size: 14px;
    line-height: 1.4;
  }
  .service-list .service-box .service-details {
    max-width: 90%;
  }
  .service-list .service-box .service-details .service-title {
    font-size: 20px;
    margin-top: 14px;
  }
  .service-list .service-box .service-details .service-description {
    margin-top: 14px;
    font-size: 14px;
  }
  #reviewSection .container {
    padding: 0 !important;
  }
  #reviewSection .review-container {
    min-width: 340px;
    padding: 18px;
    max-width: 340px;
  }
  #reviewSection .swiper-pagination {
    display: none;
  }
  #contactSection .container .contact_map-section iframe {
    height: 350px;
  }
  #contactSection .container .contact_content {
    padding: 18px;
  }
  #contactSection .container .contact_content .title {
    font-size: 28px;
  }
  #contactSection .container .contact_content .sub-title {
    font-size: 14px;
    line-height: 1.4;
  }
  #contactSection .container .contact_content .contact_form {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  #contactSection .container .contact_content .contact_form textarea {
    grid-column: span 1/span 1;
  }
  #contactSection .container .contact_content .contact_form button {
    grid-column: span 1/span 1;
  }
  .footer .footer-content {
    padding: 20px 0;
  }
  .footer .footer-content .container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .footer .footer-content .container .footer-col:nth-child(1) {
    grid-column: span 1/span 1;
  }
  .footer .footer-content .container .footer-col:nth-last-child(1) {
    grid-column: span 1/span 1;
  }
}/*# sourceMappingURL=style.css.map */